@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Satisfy&display=swap');



$primaryFont:"Raleway", sans-serif;
$titleFont:"Raleway", sans-serif;;
$brandFont:"Satisfy", cursive;



$fontSize: 18px;

$primaryColor:#FFFFFF;
$secondaryColor: #f6f6f6;
$complementaryColor: #0E193E; 
$grey:#353535;
$brandColor:#E40046;





