@use '../scss/abstracts' as *;

.navbar {
    background-color:$secondaryColor ;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    padding: 1.5rem!important;
    .navBrand {
        font-family: $brandFont;
        display: flex;
        align-items: center;
        span {
            margin: 0 10px;
            font-family: $primaryFont;
        }
        h3{
            color: $brandColor;
            margin:0;
            padding-top: 2px;
            text-align: center
        }
    };
}



